.search-form {
	display: none;

	&__input {
		height: 3rem;
		width: 28rem;
		position: relative;
		outline: none;

		&::placeholder {
			padding-left: 1rem;
			font-size: 1.7rem;
		}

		&[type="text"] {
			color: $dark-black;
			font-size: 1.7rem;
			padding-left: 1rem;
		}
	}

	&__btn {
		border: none;
		height: 2.7rem;
		position: absolute;
		top: 3.7rem;
		right: 5rem;
		width: 3rem;
	}

	& ion-icon {
		height: 100%;
		width: 100%;
	}
}